interface lo
 ip address {{ node.loopback }}
{% if node.ospf is defined %}
 ip ospf area {{ node.ospf.area }}
{% endif %}
{% if node.loopback6 is defined %}
 ipv6 address {{ node.loopback6 }}
{% if node.ospf is defined %}
 ipv6 ospf6 area {{ node.ospf.area }}
 ipv6 ospf6 passive
{% endif %}
{% endif %}
exit
!
{% for ifname, intf in node.interfaces | dictsort %}
interface {{ ifname }}
{% if intf.peer is defined %}
 description link-to-{{ intf.peer }}
{% endif %}
 ip address {{ intf.address }}
{% if node.ospf is defined and intf.ospf | default(true) %}
 ip ospf area {{ node.ospf.area }}
 ip ospf network point-to-point
 ip ospf hello-interval {{ node.ospf.hello_interval }}
 ip ospf dead-interval {{ node.ospf.dead_interval }}
 ip ospf retransmit-interval {{ node.ospf.retransmit_interval }}
 ip ospf cost {{ intf.ospf_cost | default(node.ospf.default_cost) }}
{% if node.bfd is defined %}
 ip ospf bfd
 ip ospf bfd profile {{ node.bfd.profile }}
{% endif %}
{% endif %}
{% if intf.address6 is defined %}
 ipv6 address {{ intf.address6 }}
{% if node.ospf is defined and intf.ospf | default(true) %}
 ipv6 ospf6 area {{ node.ospf.area }}
 ipv6 ospf6 network point-to-point
 ipv6 ospf6 hello-interval {{ node.ospf.hello_interval }}
 ipv6 ospf6 dead-interval {{ node.ospf.dead_interval }}
 ipv6 ospf6 retransmit-interval {{ node.ospf.retransmit_interval }}
 ipv6 ospf6 cost {{ intf.ospf_cost | default(node.ospf.default_cost) }}
{% if node.bfd is defined %}
 ipv6 ospf6 bfd profile {{ node.bfd.profile }}
{% endif %}
{% endif %}
{% endif %}
exit
!
{% endfor %}
